/**
========================
= Generic
========================
*/

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}



/**
========================
= Intro
========================
*/
.lead {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 1000px;
    width: 100%;
}

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/welcome.JPG) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 40%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    margin-left: 60px;
    margin-bottom: -20px;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

/**
========================
= Content sections and Banners
========================
*/

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
     display:  block;
    margin: 0 auto !important;
    background: black;
    color: white;
    padding: 50px 0;
}

.section-heading {
   text-align: center;
   margin-bottom: 30px;
}

.section-heading-spacer {
    margin: 0 auto;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner2 {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/pallarax1.jpg) no-repeat center center;
    background-size: cover;
}

.banner3 {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/craftbeer.png) no-repeat center center;
    height: 400px;
    background-size: cover;
}

.banner4 {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/bigears.JPG) no-repeat center center;
    height: 400px;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}



#open {
    font-size: 16px;
    list-style-type: none;
    float: right;
    padding: 20px;
    background-color: #ffffff;
    max-width: 400px;
    opacity: 0.6;
    color: black;
}

.subheading {
    font-size: 24px;
    padding-bottom: 15px;
}


.center-form{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.center-test {
    display: block;
    max-width: 450px;
    width: 100%;
    margin:0 auto;
    list-style: none;
    text-align: center;
}

.center-test li {
  text-align: left;  
}

.mr {
    margin-top: 20px;
}


/**
========================
= Footer and Nav
========================
*/

body,
html {
    width: 100%;
    height: 100%;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.header {
    width: 100%;
    min-height: 120px;
    background-color: #000;
    opacity: .6;
}


nav ul li a {
    color: #b79223;
    font-family: 'BebasNeue' !important;
    margin-top: 5px;
}

.nav {
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    nav ul li a {
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    nav ul{
         margin-left: -40px !important;
    }
    nav ul li a {
        text-align: center;
    }
    nav ul li:nth-child(4){
        margin-left: 43px;
    }
}


nav ul li a {
    font-size: 40px;
    color: #FFF !important;
    margin: 0 auto !important;
}

nav ul li a:hover {
    color: #b79223 !important;
}

.logo  {
    margin-top: 10px;
    
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


figure {
    max-width: 300px;
    margin-left: 60px;
}