/**
========================
= Global
========================
*/

body {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}


/**
========================
= Header
========================
*/

header {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: .6;
}


/**
========================
= Nav
========================
*/




/******************
LOGO
******************/

.logo_holder {
    position: relative;
    height: 100%;
    width: 30%;
    top: 0%;
    display: inline-block;
}

.logo_holder img {
    height: 100%;
    display: block;
    margin: auto;
}


/*******************
NAV
*******************/

nav {
    float: right;
    height: 100%;
    width: 50%;
    top: 0;
}

nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    nav {
        width: 60%;
    }
    nav ul {
        padding-left: 0px;
    }
}

nav ul li {
    font-family: 'BebasNeue' !important;
    float: right;
    font-size: 25px;
    margin-right: 10px;
    list-style-type: none;
    width: 25%;
}

nav ul li {
    width: 25%;
}

nav ul li a {
    font-size: 40px;
    color: #FFF;
    text-decoration: none;
    z-index: 2;
    transition: color 0.15s ease;
}

nav ul li a:hover {
    color: #b79223;
}


/**
========================
= Section 1 - Welcome
========================
*/

#welcome {
    display: inline-block;
    height: 1000px;
    width: 1920px;
    background-image: url("../img/food.JPG");
    background-repeat: no-repeat;
}


/* This is a transparency box */

#open {
    font-family: 'Lato', sans-serif;
    margin-top: 300px;
    margin-left: 120px;
    padding: 20px;
    background-color: #ffffff;
    width: 300px;
    opacity: 0.6;
}

#welcome h1 {
    font-family: 'Philosopher', sans-serif;
    margin-left: 100px;
    margin-top: 250px;
    font-size: 60px;
    color: #b79223;
    background-color: inherit;
}

#welcome p {
    font-family: 'Philosopher', sans-serif;
    margin-left: 180px;
    font-size: 30px;
    color: #b79223;
    background-color: inherit;
}

.subheading {
    font-size: 24px;
    padding-bottom: 15px;
}


/**
========================
= Section 2 - Intro
========================
*/

#intro {
    padding-top: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

#intro p {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    background-color: inherit;
}

.pure-button {
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    float: right;
    margin-top: -40px;
    margin-right: 40px;
    font-size: 30px;
    height: auto;
    width: auto;
    border: 1px solid black;
    color: white;
    background-color: #b79223;
}


/**
========================
= Pallarax image 1
========================
*/

figure img {
    height: 100%;
    width: 100%;
}


/**
========================
= Craft Beer
========================
*/

#craft {
    background-image: url("../img/pattern1.png");
}

#craft-heading {
    border: 1px solid black;
}

#craft h2 {
    text-align: center;
    font-size: 40px;
    color: #b79223;
    background-color: inherit;
}

#beer-feature p {
    line-height: 30px;
    font-size: 26px;
    margin-left: 50px;
    width: 500px;
    color: white;
}

#beer-feature figure img {
    width: 298px;
    height: 391px;
    margin-left: 70%;
    margin-top: -260px;
}

#beer-feature {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/sharpedges.jpg)
}


/**
========================
= Footer
========================
*/

footer {
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
}

footer li,
p {
    font-size: 20px;
}

#footer-info {
    display: inline-block;
    margin-top: 45px;
    padding-left: 75px;
}

#contact-info {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

#contact-info li:first-child {
    font-size: 25px;
}