<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts and External Stylesheets -->
    <title>Eureka Cafe &#38; Bar</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/bebasneue.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" href="css/base-min.css">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/grids-responsive-min.css">
    <title>Eureka</title>
</head>

<body ng-app="menuApp" ng-controller="menuCtrl">
    <!-- Start of Header -->
    
        <!-- Old nav
        <div class="logo_holder"><img src="img/logo.png"></div>
        <nav>
            <ul>
                <li><a href="#/snack">Food</a></li>
                <li><a href="#/wine">Wine</a></li>
                <li><a href="#/beer">Beer</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        Nav -->
    <nav class="navbar navbar-default navbar-fixed-top topnav header" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" rel="home" href="#" title="Eureka">

                </a>
                <img class="img-responsive center-block index" src="img/logo.png" alt="Eureka">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#food">FOOD</a>
                    </li>
                    <li>
                        <a href="#wine">WINE</a>
                    </li>
                    <li>
                        <a href="index.html#beer">BEER</a>
                    </li>
                    <li>
                        <a href="index.html#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 

    <!-- Start of Main -->
    <main>
        <!-- Slides Container -->
        

        <div id="slider_container">
            <div id="outer_button_container">
            <div id="inner_button_container">
                <div class="pure-menu-item pure-menu-has-children pure-menu-allow-hover menu_type_button inline" id="menu_type_button">
                    <p id="menuLink1" class="pure-menu-link" ng-bind="capital(url)"></p>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item" ng-repeat="title in titles" >
                            <div>
                                <a href="#{{title}}" class="pure-menu-link" ng-bind="capital(title)"stlye="z-index: 5;"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                                
                <div id="menu_button" class="inline">
                    <p class="button_tag">Menu</p>
                </div>
            </div>
        </div>
            <div id="slides" u="slides" ng-style="{'background-image': 'url(img/menu/' + url + '.jpg'}">
                
            </div>
        </div>

        <!--Menu Area -->
        <section class="menu-section">
                
            <div class="search">
                <p>Search:</p>
                <input type="text" ng-model="search" ng-change="wasteFun()">
                <p>vegetarian:</p>
                <input type="checkbox" ng-model="vege" ng-change="wasteFun()">
                <p>gluten free:</p>
                <input type="checkbox" ng-model="glute" ng-change="wasteFun()">
            </div>

            <div ng-repeat="subMenu in menuItems[url]" ng-class="white(subMenu['name']) | removeSpaces" ng-hide="!hasItems(subMenu.name, waste)">
                <h1 ng-bind="subMenu.name"></h1>
                <span ng-bind="subMenu.extra" class="extraInfo"></span>
                <hr>
                <div class="pure-u-lg-1-4 pure-u-md-1-2" ng-repeat="item in subMenu.content | object2Array | orderBy:'price' | filter:search                                                                         |isVegetarian:vege | isGF: glute">
                    <div>
                        <span class="pure-u-3-4">
                        <h1 ng-bind="item.name"></h1>
                        <p ng-if="item['wine-location']"ng-bind="'(' + item['wine-location'] + ')'"></p>
                    </span>
                        <span class="pure-u-1-5">
                        <span ng-if="item['small-price'] "class="price" ng-bind="'$' + item['small-price'].toFixed(2)"></span>
                        <span class="price" ng-bind="'$' + item.price.toFixed(2)"></span>
                        </span>
                        <span ng-if="item['gluten-free']">(gf)</span>
                        <span ng-if="item['some-gf']">(gf**)</span>
                        <span ng-if="item.vegetarian">(v)</span>
                        <span ng-if="item['some-v']">(v**)</span>
                        <span ng-if="item['dairy-free']">(df)</span>
                        <p ng-if="isString(item.description)" ng-bind="item.description" ng-class="{hideit : menuItems[url].hide}"></p>
                        <ul ng-if="isObject(item.description)">
                            <li class="desc-repeat" ng-repeat="desc in item.description track by $index" ng-bind="desc"></li>
                        </ul>
                    </div>
                </div>

                    </span>
                    <span ng-if="item['gluten-free']">(gf)</span>
                    <span ng-if="item['some-gf']">(gf**)</span>
                    <span ng-if="item.vegetarian">(v)</span>
                    <span ng-if="item['some-v']">(v**)</span>      
                    <span ng-if="item['dairy-free']">(df)</span>                  
                    <p ng-if="isString(item.description)" ng-bind="item.description"></p>
                    <ul ng-if="isObject(item.description)">
                        <li class="desc-repeat" ng-repeat="desc in item.description track by $index" ng-bind="desc"></li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1-1 info">
                <p>Please inform staff of any allergies or requirements as meals can be changed to suit your needs</p>
                <p>
                    Gluten free add $3 / gf = glutn free/ df = dairy free / gf** = gluten free available / v = vegetarian / v** = vegetarian available
                </p>
            </div>
        </section>
        
    </main>
        <footer class="footer-distributed">
        <div class="footer-left">
            <img class="img-responsive center-block" src="img/logo.png" alt="Eureka">
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>116 Albany St <span>Dunedin, New Zealand</span> </p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(03) 477-7977 Phone </p>

            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:eureka116@xtra.co.nz">eureka116@xtra.co.nz</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <p class="footer-company-name">All rights reserved Eureka &copy; 2015</p>
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/Eurekabardunedin/" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>    
        </div>

    </footer>


    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script src="js/dropdown.js"></script>
</body>

</html>