<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Fonts and External Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/bebasneue.css">
    
	<link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" href="css/base-min.css">
    <link rel="stylesheet" href="css/pure-min.css">
	<title>Eureka</title>
</head>
<body ng-app="menuApp">
	<!-- Start of Header -->
	<header>
		<!-- Start of Nav -->
		<div class="logo_holder"><img src="img/logo.png"></div>
		<nav>
			<ul>
				<li><a href="#">Food</a></li>
				<li><a href="#">Wine</a></li>
				<li><a href="#">Beer</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<!-- End of Nav -->
	</header>

	<!-- Start of Main -->
	<main> 
		<!-- Slides Container -->
		<div id="outer_button_container">
			<div id="inner_button_container">
				<div id="menu_type_button" class="inline">
					<p class="button_tag">Main</p>
				</div>
				<div id="menu_button" class="inline">
					<p class="button_tag">Menu</p>
				</div>
			</div>
		</div>

		<div id="slider_container">			
    		<div id="slides" u="slides">
        		<div id="main_image_slide" class="slide current_slide">        			
        			<img u="image" src="img/main.jpg"/>
        		</div>
        		<div id="wine_image_slide" class="slide">        			
        			<img u="image" src="img/wine.jpg"/>
        		</div>
    		</div>
		</div>

		<!--<svg id="circle" height="200" width="150">
      		<path d="M 50 50 C 100,50 100,150 150,150" stroke="black" fill="none" stroke-width="5" />
    	</svg> -->

		<!--Menu Area -->
	<section class="menu-section" ng-controller="menuCtrl">
        <h1 class="pure-u-1-2" ng-bind="subMenuList[index]"></h1>
        <h1 ng-bind="subMenuList[(index + 1) %  subMenuList.length]"></h1>
        <hr>
        <div class="pure-u-11-24">
            <div ng-repeat="item in menuItems['snacks']['small snacks'] | object2Array | orderBy:'price'">
                <h1 ng-bind="item.name"></h1>
                <span ng-if="item['gluten-free']">(gf)</span>
                <span ng-if="item['some-gf']">(gf**)</span>
                <span ng-if="item.vegetarian">(v)</span>
                <span ng-if="item['some-v']">(v**)</span>
                <p class="price" ng-bind="'$' + item.price.toFixed(2)"></p>
                <p ng-if="isString(item.description)" ng-bind="item.description"></p>
                <ul ng-if="isObject(item.description)">
                    <li class="desc-repeat" ng-repeat="desc in item.description track by $index" ng-bind="desc"></li>
                </ul>				
            </div>
        </div>
        
        <div class=" verticalLine pure-u-1-24"></div>
        
        <div class="pure-u-11-24">
            <div ng-repeat="item in menuItems['snacks']['big snacks'] | object2Array | orderBy:'price'">
                <h1 ng-bind="item.name"></h1>
                <span ng-if="item['gluten-free']">(gf)</span>
                <span ng-if="item['some-gf']">(gf**)</span>
                <span ng-if="item.vegetarian">(v)</span>
                <span ng-if="item['some-v']">(v**)</span>
                <p class="price" ng-bind="'$' + item.price.toFixed(2)"></p>
                <p ng-if="isString(item.description)" ng-bind="item.description"></p>
                <ul ng-if="isObject(item.description)">
                    <li class="desc-repeat" ng-repeat="desc in item.description track by $index" ng-bind="desc"></li>
                </ul>
            </div>
        </div>
	</section>
    
	</main>
	<!-- End of Main -->
	<footer>
		
	</footer>
	<script src="js/angular.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>